SMTP_HOST=test.example.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=idk@example.com
SMTP_PASS=yourpasswordhere
SMTP_FROM=your-sftp-user@yourdomain.com
WEBHOOK_URL=https://discord.com/api/webhooks/your_webhook_here
PORT=3000